#BarraNav{
    background-color: rgb(74, 201, 112) !important;
}

#FooterPagina{
    background-color: rgb(219, 134, 23) !important;
}

/* .imagenNav{
    mix-blend-mode: multiply;

} */

/* Colores: 
Background color de la barra de navegación: rgb(219, 134, 23)

*/